server {
  listen {{ global.port_number }};

  client_body_timeout 5s;
  client_header_timeout 5s;

{%- if global.ssl is not none %}
  ssl on;

  ssl_protocols TLSv1.2 TLSv1.3;

  ssl_certificate {{ global.ssl.certificate_path }};
  ssl_certificate_key {{ global.ssl.key_path }};
{% endif %}

  server_name {{ service.external_name }}.{{ global.hostname }};

  location / {
    proxy_set_header Host $http_host;
{%- for header,header_value in service.additional_headers.items() %}
    proxy_set_header {{ header }} {{ header_value }};
{%- endfor %}
{%- for line in service.additional_options %}
    {{ line }};
{%- endfor %}
{%- if service.proxied is string %}
    proxy_pass {{ service.proxied }};
{% else %}
    proxy_pass {{ service.proxied.proto }}://{{ service.proxied.host }}:{{ service.proxied.port }};
{%- endif %}
  }

{% if service.websocket_path is not none -%}
  location {{ service.websocket_path }} {
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
{%- for header,header_value in service.additional_headers.items() %}
    proxy_set_header {{ header }} {{ header_value }};
{%- endfor %}
{%- for line in service.additional_options %}
    {{ line }};
{%- endfor %}
    proxy_pass {{ service.proxied.proto }}://{{ service.proxied.host }}:{{ service.proxied.port }};
  }
{% endif -%}
}